body{
	background:#D0DED4;
}
.fila{
	height:;
}
.columna{

border:solid;
}
.columna1{
  border:2px solid black;
  background:#F2A391;
  height:110px;
}
.columna2{
  border:2px solid black;
  background:#BFA29B;
  height:460px;
}
.columna3{
  border:2px solid black;
  background:#F2E0DF;
  height:350px;
}
.columna4{
  border:2px solid black;
  background:#F20C0C;
  height:350px;
}
.columna5{
  border:2px solid black;
  background:#014029;
  height:100px;
}
